* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Didact Gothic', sans-serif;
}

[v-cloak] {
    display: none;
}

.outer {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
    min-height: 100vh;
    width: 100%;
}

.inner {
    max-width: 667px;
    width: 100%;
    margin: 0 auto;
    padding: 5% 10px 0;
}

h1 {
    font-size: 24px;
    line-height: 30px;
    color: #111;
    text-align: center;
    margin-bottom: 15px;
}

.text {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
}

.timer {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 10px;
}

.time .labels,
.time .values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.time .labels div {
    width: 33.3%;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.time .values div {
    width: 33.3%;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
}

.progress {
    width: 100%;
    border: 1px solid #fff;
    height: 50px;
}

.bar {
    height: 100%;
    background-image: url(./bar.png);
    background-repeat: repeat-x;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.anim {
    width: 100%;
    height: 10px;
    position: relative;
    margin: 5px 0;
}

.ball {
    position: absolute;
    z-index: 3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff1133;
    animation: ticktack 2s infinite ease-in-out;
}

.ball:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ee0828;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    animation: ticktack2 2s infinite ease-in-out;
}

.ball:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #dd0021;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    animation: ticktack3 2s infinite ease-in-out;
}

@keyframes ticktack {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 10px);
    }
    100% {
        left: 0;
    }
}

@keyframes ticktack2 {
    0% {
        left: 1.5px;
    }
    40% {
        left: calc(100% - 12.5px);
    }
    50% {
        left: calc(100% - 10px);
    }
    90% {
        left: 3.5px;
    }
    100% {
        left: 1.5px;
    }
}

@keyframes ticktack3 {
    0% {
        left: 2.5px;
    }
    40% {
        left: calc(100% - 15.5px);
    }
    50% {
        left: calc(100% - 10px);
    }
    90% {
        left: 8.5px;
    }
    100% {
        left: 2.5px;
    }
}
